.sticker__main {
	padding: 0 0 1.5em 0;
	display: grid;
	gap: 50px;
}

.sticker__icon {
	font-size: 3em;
	padding: 0.5em 0;
}

.sticker__text {
	line-height: 1.3;
}

.sticker__bottom {
	color: #505050;
}

.sticker__bottom h3 {
	margin-bottom: 0.5em;
}

.sticker__bottom ul {
	text-transform: capitalize;
}
.sticker__bottom ul > li:not(:last-child) {
	margin-bottom: 0.25em;
}

.sticker {
	border-bottom: 3px solid #333;
}

.--box-normal {
	padding: 1em;
	font-size: 18px;
}

.Offers__gallery {
	grid-template-columns: repeat(4, 1fr);
	gap: 2em;
	flex-wrap: wrap;
	/* 🕮 <ltc> 553071d2-d5ba-49b5-98f4-e3b8d79cc843.md */
}

/* show Team section on 1000px viewport with flex (5 pictures in one row) при space-around, between evenly, left, right */
.Offers .gallery__item {
	text-align: center;
	width: 15em;
	/* margin: 1em; */
}
